<div id="<%= dom_id user_standup %>">
  <p>
    <strong>Team:</strong>
    <%= user_standup.team_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_standup.user_id %>
  </p>

  <p>
    <strong>Standup:</strong>
    <%= user_standup.standup_id %>
  </p>

</div>
